hydra-core==1.1.1
lightning_bolts==0.4.0
matplotlib==3.4.3
numpy==1.19.5
omegaconf==2.1.1
pytorch_lightning==1.4.9
rich==10.13.0
scikit_learn==1.0.1
scipy==1.7.1
seaborn==0.11.2
toma==1.1.0
torch==1.9.1
torchmetrics==0.5.1
torchvision==0.10.1
tqdm==4.62.3
